<%= stylesheet_link_tag "forms.css", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<div class="form-details">
  <%= form_with model: city, local: true do |form| %>
    <div>
      <%= form.label :name, "City Name", class: 'form-label' %>
      <%= form.text_field :name, class: 'form-input', required: true %>
    </div>

    <div>
      <%= form.label :collection_point_address, "Collection Point Address", class: 'form-label' %>
      <%= form.text_field :collection_point_address, class: 'form-input', required: true %>
    </div>

    <div>
      <%= form.submit class: "form-submit" %>
    </div>
  <% end %>
</div>